.shelf h2 {
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 25px;
    color: white;
}

.shelfHeader {
    display: flex;
    justify-content: space-between;
}

.shelfHeader button {
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
}
