body {
    height: 100%;
    margin: 0;
    background-color: #222;
}

.main {
    font-family: Helvetica, sans-serif;
    color: white;
    height: 100%;
}

.horiz {
    display: flex;
    justify-content: space-between;
}

.horiz h1 {
    padding-left: 10px;
}

.horiz h4 {
    padding-right: 10px;
    padding-top: 10px;
}

.horiz a:hover {
    text-decoration: underline;
}

.horizButton button {
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
}
