.shelf h2 {
    margin-bottom: 0;
    margin-left: 5px;
}

.shelfHeader {
    display: flex;
    justify-content: space-between;
}

.shelfAlbums {
    display: flex;
    padding: 10px;
}

.shelfHeader a:hover {
    color: #fff;
    text-decoration: underline;
}
